
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position:sticky;top:0px;z-index:1">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/user/profile" style="color: #00B7FF;">Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/AddActivity" style="color: #00B7FF;">New Activity</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="/auth/logout" style="color: #00B7FF;">Logout</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="post" action="/search">
      <input class="form-control mr-sm-2" name="text2" type="search" placeholder="Search friends" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>




<div style="margin-top: 10%;width:30rem;margin-bottom:12%;position:relative;left:30%;">
   {{#each activities}}
   <div style="margin-top:5%;padding:4%;overflow-y:scroll;height:400px;">
      <img src="{{this.owner.avatar}}" alt="" style="width:3rem;height:3rem;border-radius:50%;" >
      <span style="font-size: 1em;"><strong>{{owner.fullname}}</strong></span>
      <p style="font-size: 2em;">{{activityType}}</p>

      <p style="font-size: 1em;"><span style="font-size: 1.5em;"></span> {{description}}</p>
      <p style="font-style: 1em;"><span style="font-size: 0.7em;margin-left:2rem">Calories :{{calories}}</span>
      <span style="font-size: 0.7em;;margin-left:2rem">Distance :{{distance}} m</span>
      <span style="font-size: 0.7em;;margin-left:2rem">Duration :{{duration}} min</span> </p>

      {{#if photo}}
      <img src="{{photo}}" alt="activity image" style="width: 70%;">
      {{/if}}
      <div id="activity-details">
         <div id="{{this.id}}div" style="margin-top:5%;padding:4%;">
            {{#each comments}}
            <p>{{this.owner.fullname}} : {{this.text}}</p>
            {{/each}}
         </div>
         <div class="container" style="margin-top:5%;padding:4%;">
            <textarea type="text" value="" id="{{this.id}}comment" placeholder="add comment" name="comment"></textarea>
            <i id="{{this.id}}" class="fas fa-plus" type="submit"></i>
         </div>
         <i id="{{this.id}}" class="like fa fa-thumbs-up" type="submit" style="margin-bottom: 9%;">
            <span id="#count">{{likes.length}}</span>
         </i>

      </div>
   </div>
   {{/each}}
</div>

<script>
   document.querySelectorAll(".like").forEach(el => {
      el.addEventListener("click", function (event) {
         toggleLike(event);
      })
   })
   function toggleLike(ele) {
      axios.post(`/activities/${ele.target.id}`).then((activity) => {
         ele.target.querySelector('span').innerText = activity.data.likes.length
      });
   }
   document.querySelectorAll(".fa-plus").forEach(el => {
      el.addEventListener("click", function (event) {
         addComment(event);
      })
   })
   function addComment(ele) {
      let comments = document.getElementById(ele.target.id + "comment").value;
      let div = document.getElementById(ele.target.id + "div");
      axios.post(`/activities/comments/${ele.target.id}`, { newComment: comments }).then((response) => {
         let p = document.createElement("p");
         p.innerText = response.data.user + ": " + comments;
         div.appendChild(p);
         comments.placeholderx = "";
      });
   }
</script>